html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* 로고 이미지 스타일 설정 */
#logo {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.pointer {
    position: fixed;
    width: 30px;
    height: 30px;
    margin: -20px 0 0 -20px;
    border-radius: 50%;
    /*
    이미지 잔상을 남기려면
          background: url('이미지소스') no-repeat 0 0 / cover;
    */
    background-color: orange;
    animation: pointer-ani 0.5s linear;
    animation-fill-mode: forwards;
    pointer-events: none; /* 이 부분 추가 */
}
@keyframes pointer-ani {
    0% { transform: scale(0);  }
    100% { transform: scale(1); opacity: 0; }
}
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.ad-space {
    width: 100%;
    height: 80px; /* 광고 높이 설정 */
    /*background-color: #ccc; !* 배경색 설정 *!*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.game-row {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: calc(100% - 80px); /* 화면 하단의 광고 공간을 제외한 높이 */
}

.side-ad {
    width: 160px; /* 광고 너비 설정 */
    height: 100%;
    /*background-color: #ccc; !* 배경색 설정 *!*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.game-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/tile_01.png");
    background-repeat: repeat;
}

.game {
    position: relative;
    width: 100%; /* 게임 창 너비를 100%로 변경 */
    height: 100%; /* 게임 창 높이를 100%로 변경 */
    border: 1px solid black;
    margin: auto;
    cursor: url("../images/cur116.cur"), auto;
}

/* 게임창 비활성화 */
.disabled::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
    pointer-events: none; /* 마우스 이벤트 무시 */
    z-index: 1; /* 오버레이가 다른 요소 위에 위치하도록 함 */
}
.character {
    position: relative;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-in-out;
}

.character-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/character.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 1;
}
/* 캐릭터 다리 */
.left-leg-back,
.right-leg-back,
.left-leg,
.right-leg {
    position: absolute;
    width: 40px;
    height: 20px;
    /*background-color: #000;*/
    /*transform: rotate(90deg);*/
    transform-origin: bottom center;
    visibility: hidden;
    background-image: url("../images/leg.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0; /* 수정된 부분 */
}

.left-leg {
    position: absolute;
    top: 25px;
    left: 50%;
}

.right-leg {
    position: absolute;
    bottom: 25px;
    left: 50%;
}

.left-leg-back {
    position: absolute;
    top: 10px;
    right: 50%;
    transform: rotate(180deg);
}

.right-leg-back {
    position: absolute;
    bottom: 50px;
    right: 50%;
    transform: rotate(180deg);
}
/* 게임 시작 버튼 스타일 설정 */
.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
    cursor: pointer;
    z-index: 2;
}
.btnLightBlue.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #1E8185;
}
.btnLightBlue.btnPush {
    box-shadow: 0px 5px 0px 0px #1E8185;
}
.btnLightBlue {
    background: #5DC8CD;
}
.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}

/* 타이머 */
.timer {
    position: absolute;
    top: 10px;
    left: 50%;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    transform: translateX(-50%);
    font-size: 48px;
    font-weight: bold;
    z-index: 2; /* 타이머가 다른 요소 위에 위치하도록 함 */
}

.arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    /*background-color: blue;*/
    z-index: 1;
    border-radius: 50%;
    background-image: url("../images/ball.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* 점수 애니메이션 스타일 추가 */
@keyframes scoreAnimation {
    0% {
        top: 10px;
        font-size: 48px;
    }
    100% {
        top: calc(50% - 100px); /* 다시하기 버튼 위로 이동 */
        font-size: 48px;
    }
}
/* 점수 애니메이션 스타일 추가 */
@keyframes scoreAnimationBefore {
    0% {
        top: calc(50% - 100px); /* 다시하기 버튼 위로 이동 */
        font-size: 48px;
    }
    100% {
        top: 10px;
        font-size: 48px;
    }
}
/* 메세지 창*/
#notification {
    font-size: 16px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 15px; right: 15px;
    opacity: 0;
    transition: opacity 0.5s;
}